<h1>Horarios</h1>
<mat-form-field>
  <mat-label>Filtrar por</mat-label>
  <input
    matInput
    (keyup)="applyFilter($event)"
    placeholder="Ejemplo Harina"
    #input
  />
</mat-form-field>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <!-- Columna Nombre -->
    <ng-container matColumnDef="horario">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Horario</th>
      <td mat-cell *matCellDef="let row">{{ row.HORARIO }}</td>
    </ng-container>

    <!-- Columna Category -->
    <ng-container matColumnDef="alumno">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Alumno</th>
      <td mat-cell *matCellDef="let row">{{ row.NOMBRE }}</td>
    </ng-container>

    <!-- Columna Subcategoria -->
    <ng-container matColumnDef="profesor">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Profesor</th>
      <td mat-cell *matCellDef="let row">
        {{ row.PROFESOR}}
      </td>
    </ng-container>

     <!-- Columna Subcategoria -->
     <ng-container matColumnDef="materia">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Materia</th>
      <td mat-cell *matCellDef="let row">
        {{ row.MATERIA}}
      </td>
    </ng-container>

    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef> acciones </th>
      <td mat-cell *matCellDef="let element">
        <button mat-button color= "Basic" (click)="eliminar(element.ID_CARGA_ALUM)" >Eliminar</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    <!-- Row shown when there is no matching data. -->
    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="4">
        No se encuentra nungun producto "{{ input.value }}"
      </td>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>
